#title{ color:red;}

.text-shadow{ color:blue;}


.list-item{ color: green;}


.title2{color-adjust: purple;}

.background{color:purple;}

animate__bounceOutUp
div{}


body{
background-size: 500px;
background-color: pale blue;
background-size: 400px;}
background-position:center;